<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
  <title>Регистрация</title>
</head>
<body>
  
    <div class="container">
        <form id="registrationForm" class="form">
        <h2>Форма регистрации</h2>

        <!-- Оставляем первый селект с выбором страны -->
        <label id="countryLabel" for="country">Страна:</label>
        <select id="country" name="country" required>
            <option  value="" disabled selected>Выберите страну</option>
            {% for code, country in countries.items() %}
            <option value="{{code}}">{{country}}</option>
            {% endfor %}
        </select>

        <!-- Добавляем кнопку подтверждения для первого селекта -->
        <button id="confirmCountry" type="button">Подтвердить</button>

        <div id="dynamicFields">
            <!-- Селект для возрастной группы и кнопка подтверждения -->
            <label id="ageGroupLabel" for="ageGroup" style="display: none;">Возрастная группа:</label>
            <select id="ageGroup" name="ageGroup" style="display: none;" required>
                <option value="" disabled selected>Выберите возрастную группу</option>
                {% for code, category in categories.items() %}
                <option value="{{code}}">{{category}}</option>
                {% endfor %}
            </select>
            <button id="confirmAgeGroup" type="button" style="display: none;">Подтвердить возрастную группу</button>

            <!-- Селект для типа участия и кнопка подтверждения -->
            <label id="participantTypeLabel" for="participantType" style="display: none;">Тип участия:</label>
            <select id="participantType" name="participantType" style="display: none;" required>
                <option value="" disabled selected>Выберите тип участия</option>
                <option value="team">Командное</option>
                <option value="individual">Индивидуальное</option>
            </select>
            <button id="confirmParticipantType" style="display: none;" type="button">Подтвердить тип участия</button>

            <!-- Кнопка для отправки данных -->
            <button id="sendData" type="button" style="display: none;">Отправить</button>
        </div>
        </form>
    </div>

    <script src="{{ url_for('static', path='js/scripts.js') }}"></script>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>

    <script>
        let tg = window.Telegram.WebApp;
        document.getElementById("sendData").addEventListener("click", function() {
        // Отправка данных в Telegram
        let formData = {
            "country": countrySelect.value,
            "ageGroup": ageGroupSelect.value,
            "participantType": participantTypeSelect.value
        };
        tg.sendData(JSON.stringify(formData));
        tg.close();
});


    </script>

</body>
</html>
